@{
    ViewBag.Title = "Banco Digital";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Banco Digital</h1>
        <p class="lead">
            Apenas um exemplo de um Banco Digital Simples
        </p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Mais detalhes sobre o banco</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper eget sem eget viverra. Nam vel scelerisque neque. Aenean vulputate justo quis fringilla commodo. Integer ipsum risus, tempor non elit sit amet, semper elementum ligula. Donec at ante nisl. Nam semper sagittis fermentum. Sed ex massa, suscipit a massa a, vestibulum pharetra ante.
            </p>
        </section>
    </div>
</main>